html,
body {
  height: 100%;
  background: linear-gradient(to right, #00a495, #13ad65);
}

#root {
  vertical-align: middle;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #008275;
}

.App {
  display: flex;
  flex-direction: column;
  min-width: 500px;

  align-items: center;

  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
  margin-bottom: 1vh;
  text-align: center;
}

.header-title {
  font-size: 72px;
}

.header-context {
  font-size: 18px;
  font-weight: bold;
}

.load-spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: 0.8;
  z-index: 10;
}

.load-spinner {
  color: #008275;
  width: 120px;
  height: 120px;
}

.error-page {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: 0.8;
  z-index: 10;
}

.error-message {
  color: #008275;
  font-size: 24px;
  text-align: center;
}

.crawled-at {
  margin-top: 1em;
  text-align: center;
}

.list-item-container {
  display: flex;
  height: 7.5vh;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.list-item-index {
  width: 2vh;
  text-align: right;
  margin-right: 0.5em;
}

.list-item-text {
  flex: 10;
  max-width: 77.5%;
}

.list-item-button,
.list-item:focus,
.list-item-button:visited {
  display: flex;

  margin-left: 1em;
  flex: 1;

  max-width: 12.5%;

  align-self: auto;
  height: 100%;

  float: right;
}

.list-item-button:hover,
.list-item-button:active,
.list-item-button:target {
  background-color: #614d42;
  border: none;
  outline: none !important;
  box-shadow: none !important;
}

.soup-button,
.soup-button:focus,
.soup-button:visited {
  background-color: #00a495;
  border: none;
  box-shadow: none;

  align-items: center;
  justify-content: center;
}

.soup-button-reject,
.soup-button:hover,
.soup-button:active,
.soup-button:target {
  background-color: #614d42;
  border: none;
  outline: none !important;
  box-shadow: none !important;
}

.not-found-page {
  position: absolute;
  display: flex;
  width: 100%;
  height: 80vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 4vh;
}

.memo-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0;
}

.memo-text {
  flex: 2;
  display: -webkit-box;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1em;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.last-writer {
  flex: 1;
  padding-top: 0.25rem;
  font-size: 12px;
}

.empty-memo-text {
  color: #999999;
}

/* // deprecated
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: 0.8;
  z-index: 5;
} */

.input-form-container {
  z-index: 7;
  width: 100%;
  max-width: 500px;
  min-width: 450px;
  height: 10.5vh;

  background-color: white;

  border-radius: 0.25rem;
  padding: 0.5rem;
}

.input-form-control {
  text-align: start;
}

.input-form-control:focus {
  border-color: #008275;
  outline: none !important;
  box-shadow: none !important;
}

.current-keyword-link {
  z-index: 20;
}

.current-keyword {
  text-align: center;
  margin: 2vh;
  font-size: x-large;
  font-weight: 700;
}

.input-button-container {
  display: flex;
  margin-top: 0.5em;
  justify-content: right;
  align-items: center;
}
.input-button-container > button {
  margin-left: 1em;
}

.input-length-counter {
  margin-left: 0.5em;
}

.input-error-message {
  flex: 1;
  padding-left: 0.75rem;
  color: #ff0000;
}

.memo-list-scene {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.memo-list-scene-side {
  display: flex;
}

.memo-list-scene .list-container {
  margin: 0 0.5em;
}

.list-container {
  max-width: 500px;
  min-width: 500px;
}
